langchain
langchain-community
langchain-huggingface
nltk
spacy
tiktoken
scikit-learn
sentence-transformers
pandas
numpy
matplotlib
seaborn
transformers
torch
faiss-cpu
pypdf
chromadb
ipykernel
jupyter
wikipedia
langgraph
accelerate
einops
tqdm
ipywidgets


